<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>
  <h1>{{message}}</h1>
  <ul>
    {{#items}}
    <li>{{name}}</li>
    {{/items}}
  </ul>
  <a href="/about">About</a>
</body>
</html>
